/*
|--------------------------------------------------------------------------
|                                 CUSTOM VARIABLES
|--------------------------------------------------------------------------
*/

$marantz-gold: black;
$marq-slate: #414f61;

$text-color: #c7c7c7;
