<section id="mission-statement">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="mission-statement-container">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <img src="/images/about/adam-mask.webp" alt="" />
            </div>
            <div class="col-sm-12 col-md-8">
              <p>
                Adam Goldberg is an Emmy, Clio, and Peabody Award winning Producer/Director living in Marina del Rey, CA. The South Carolina native has continued to ride the wave of sports documentaries and feature films. His credit list includes groundbreaking series and name brands: ESPN’s 30 for 30, HBO 24/7, “Losers” on Netflix, The Masters, and the Pepsi Super Bowl Halftime Show. He has also found a nice balance between freelance Showrunning and Directing docs, and commercial/branded endeavors through South District Films, which he founded in 2013.
              </p>

              <br />
              <p>Adam has Produced and Directed shoots that have taken him around the world, telling stories of some of the most famous (and infamous) athletes and musicians. He’s lived with Dale Earnhardt Jr., embedded with Manny Pacquiao, trekked the Sahara with an ultra-marathoner, and shot intimate rehearsals with Dr. Dre and Snoop Dogg.</p>

              <br />
              <p>The ultimate team player, Adam is all about collaboration and equality on every project. He believes that we are all in this to tell the best stories that we can. And together is the best way forward.</p>
            </div>
          </div>

          <div style="text-align: center; margin-top: 60px">
            <a href="/" style="color: white; text-decoration: none"
              >&larr; Back</a
            >
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
