<section id="mission-statement">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="mission-statement-container">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <img src="/images/about/adam.jpg" alt="" />
            </div>
            <div class="col-sm-12 col-md-8">
              <p>
                Adam Goldberg is a Peabody, Emmy, and Clio winning producer who
                has worked on some of the biggest sports documentaries of the
                last decade. After starting as a Production Assistant at ESPN,
                Adam is now Showrunning series and documentaries for SDF as well
                as other production companies, brands, networks, and streaming
                services all around the world.
              </p>
            </div>
          </div>

          <div class="row" style="margin-top: 60px">
            <div class="col-sm-12 col-md-4">
              <img src="/images/about/toni.jpg" alt="" />
            </div>
            <div class="col-sm-12 col-md-8">
              <p>
                Toni Legaspi came up in the world of business management working
                with high profile luminaries, athletes, and celebrities on all
                of their financial needs. SDF is very lucky to have Toni as its
                CFO, as her attention to detail as well as her discretion, make
                her the perfect fit for television production.
              </p>
            </div>
          </div>

          <div style="text-align: center; margin-top: 60px">
            <a href="/" style="color: white; text-decoration: none"
              >&larr; Back</a
            >
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
