/* http://colours.neilorangepeel.com/category/yellow/ */

$papayawhip: #ffefd5;

$moccasin: #ffe4b5;

$goldenrod: #daa520;

$khaki: #f0e68c;

$palegoldenrod: #eee8aa;

$darkkhaki: #bdb76b;

$yellow: #ffff00;

/* http://colours.neilorangepeel.com/category/cyan/ */

$darkcyan: #008b8b;

$cyan: #00ffff;

$teal: #008080;

$lightcyan: #e0ffff;

/* http://colours.neilorangepeel.com/category/green/ */

$olive: #808000;

$olivedrab: #6b8e23;

$darkolivegreen: #556b2f;

$chartreuse: #7fff00;

$darkgreen: #006400;

$forestgreen: #228b22;

$lime: #00ff00;

$lightgreen: #90ee90;

$palegreen: #98fb98;

$darkseagreen: #8fbc8f;

$seagreen: #2e8b57;

$mediumseagreen: #3cb371;

/* http://colours.neilorangepeel.com/category/red/ */

$darkred: #8b0000;

$firebrick: #b22222;

$lightcoral: #f08080;

$salmon: #fa8072;

$crimson: #dc143c;

/* http://colours.neilorangepeel.com/category/blue/ */

$deepskyblue: #00bfff;

$blue: #0000ff;

$aquamarine: #7fffd4;

$turquoise: #40e0d0;

$mediumturquoise: #48d1cc;

$aqua: #00ffff;

$paleturquoise: #afeeee;

$darkturquoise: #00ced1;

$cadetblue: #5f9ea0;

$lightblue: #add8e6;

$skyblue: #87ceeb;

$steelblue: #4682b4;

$dodgerblue: #1e90ff;

$royalblue: #4169e1;

$midnightblue: #191970;

$navy: #000080;

$darkblue: #00008b;

$mediumslateblue: #7b68ee;

/* http://colours.neilorangepeel.com/category/orange/ */

$tomato: #ff6347;

$orangered: #ff4500;

$coral: #ff7f50;

$darkorange: #ff8c00;

$orange: #ffa500;

/* http://colours.neilorangepeel.com/category/gray/ */

$lightgray: #d3d3d3;

$slategrey: #708090;

$lightslategrey: #778899;

$grey: #808080;

$dimgrey: #696969;

$darkslategrey: #2f4f4f;

$darkgrey: #a9a9a9;

$black: #000000;

$dimgray: #696969;

$gray: #808080;

$darkgray: #a9a9a9;

$silver: #c0c0c0;

$lightgrey: #d3d3d3;

$gainsboro: #dcdcdc;

$darkslategray: #2f4f4f;

$slategray: #708090;

$lightslategray: #778899;

/* http://colours.neilorangepeel.com/category/white/ */

$whitesmoke: #f5f5f5;

$white: #ffffff;

$snow: #fffafa;

$mistyrose: #ffe4e1;

$linen: #faf0e6;

$floralwhite: #fffaf0;

$beige: #f5f5dc;

$ivory: #fffff0;

$honeydew: #f0fff0;

$mintcream: #f5fffa;

$azure: #f0ffff;

$aliceblue: #f0f8ff;

$ghostwhite: #f8f8ff;

$lavenderblush: #fff0f5;

/* http://colours.neilorangepeel.com/category/brown/ */

$maroon: #800000;

$brown: #a52a2a;

$sienna: #a0522d;

$saddlebrown: #8b4513;

$chocolate: #d2691e;

$peru: #cd853f;

$bisque: #ffe4c4;

$tan: #d2b48c;

$navajowhite: #ffdead;

$wheat: #f5deb3;

$darkgoldenrod: #b8860b;

$cornsilk: #fff8dc;
