{% extends './_layouts/base.njk' %}

{% block title %}
  South District Films
{% endblock %}

{% block content %}
  {% include './templates/_partials/navigation.html' %}
  {% include './templates/home/hero-logo.html' %}
  {% include './templates/about/about.html' %}
  {% include './templates/_partials/footer.html' %}
{% endblock %}
