{% extends './_layouts/base.njk' %}

{# {% from './components/button/button.njk' import button %} #}

{% block title %}
  Home
{% endblock %}

{% block content %}
  {% include './templates/_partials/navigation.html' %}
  {% include './templates/home/hero-logo.html' %}
  {% include './templates/home/featured-videos-shuffle.html' %}
  {% include './templates/_partials/footer.html' %}
{% endblock %}
