<section class="pb-0 page-section">
  <div class="relative">
    <!-- Works Filter -->
    <div class="works-filter font-alt align-center">
      <a
        href=""
        class="filter active documentary-filter"
        data-filter=".documentary"
        >Documentaries</a
      >
      <a href="" class="filter commercial-filter" data-filter=".commercial"
        >Commercials</a
      >
      <a href="" class="filter branded-filter" data-filter=".branded"
        >Branded content</a
      >
      <a href="/about">About</a>
    </div>

    <!-- Works Grid -->
    <div id="video-gallery">
      <ul
        class="clearfix works-grid work-grid-3 font-alt hover-white"
        id="work-grid"
      >
        <!--
|--------------------------------------------------------------------------
|                             Commercials
|--------------------------------------------------------------------------
-->
        <!--
    Taylor Made - Driving Contest with Tiger
   ===================================-->
        <li class="work-item mix commercial">
          <a href="https://vimeo.com/432538668">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/driving-contest-with-tiger.jpg"
                alt="TAYLOR MADE <br>'Driving Contest with Tiger'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">TAYLOR MADE</h3>
              <div class="work-descr">
                <p>Driving Contest with Tiger</p>
              </div>
            </div>
          </a>
        </li>

        <!--
    Beats by Dre
   ===================================-->
        <li class="work-item mix commercial">
          <a href="https://vimeo.com/178736717">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/beats.jpg"
                alt="Beats by Dre <br>'Chelsea'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Beats by Dre</h3>
              <div class="work-descr">
                <p>Chelsea</p>
              </div>
            </div>
          </a>
        </li>

        <!--
    Nike "Unexpected Moves"
  ===================================-->
        <li class="work-item mix commercial">
          <a href="https://vimeo.com/149101526">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/1.jpg"
                alt="Nike <br>'Unexpected Moves'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Nike</h3>
              <div class="work-descr">
                <p>Unexpected Moves</p>
              </div>
            </div>
          </a>
        </li>

        <!--
|--------------------------------------------------------------------------
|                           Commercials  Row #2
|--------------------------------------------------------------------------
-->

        <!--
    Taylor Made "Range Reveal"
  ===========================-->
        <li class="work-item mix commercial">
          <a href="https://vimeo.com/314627045" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/fowler.jpg"
                alt="Taylor Made <br>'Range Reveal'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Taylor Made</h3>
              <div class="work-descr">
                <p>Range Reveal</p>
              </div>
            </div>
          </a>
        </li>

        <!--
    Taylor Made M2 Driver
  ===========================-->
        <li class="work-item mix commercial">
          <a href="https://vimeo.com/207533220" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/taylor-made-driver.jpg"
                alt="Taylor Made <br>'M2 Driver'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Taylor Made</h3>
              <div class="work-descr">
                <p>Better Everything- M2 Driver</p>
              </div>
            </div>
          </a>
        </li>

        <!--
    Hyundai "Super Bowl Commercial"
  ===========================-->
        <li class="work-item mix commercial">
          <a href="https://vimeo.com/203052373">
            <div class="work-img">
              <img
                src="images/homepage-films/super-bowl.jpg"
                alt="Hyundai <br>'Super Bowl Commercial'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Hyundai</h3>
              <div class="work-descr">
                <p>Super Bowl Commercial - Edited by</p>
              </div>
            </div>
          </a>
        </li>

        <!--
|--------------------------------------------------------------------------
|                            Documentary Row #1
|--------------------------------------------------------------------------
-->


        <li class="work-item mix documentary">
          <a href="" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/cowboys.jpg"
                alt=""
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">
                “Untitled Dallas Cowboys Project” - Showrunner/Co-Ep
              </h3>
              <div class="work-descr">
                <p>Netflix - 2025</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/800584195" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/the-show-wide.jpg"
                alt="Documentary film on the making of the Super Bowl LVI Halftime Show that featured Dr. Dre, Snoop Dogg, Eminem, Mary J. Blige, and Kendrick Lamar."
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">
                The Show: California Love - Showrunner/EP
              </h3>
              <div class="work-descr">
                <p>Showtime</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/321620899" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/losers.jpg"
                alt="LOSERS – Documentary series elevating the stories of athletes whose integrity in the face of adversity calls into question conventional definitions of winning and losing."
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Losers - Showrunner/EP</h3>
              <div class="work-descr">
                <p>Netflix</p>
              </div>
            </div>
          </a>
        </li>



        <li class="work-item mix documentary">
          <a href="https://vimeo.com/525058135" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/masters.png"
                alt="THE ONE IN NOVEMBER A first-time, all-access look at the 2020 Masters, that highlights the juxtaposition of tradition and change, in a year “unlike any other”."
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">THE ONE IN NOVEMBER - SHOWRUNNER/EP</h3>
              <div class="work-descr">
                <p>THE MASTERS/ESPN</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/618060357">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/24-7.png"
                alt="24/7: Embedded with Manny Pacquiao in Los Angeles and the Philippines for five separate fights as well as 5 weeks with the Detroit Red Wings leading up to the Winter Classic."
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">24/7 – Producer</h3>
              <div class="work-descr">
                <p>HBO</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/425609215" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/Quibi.jpg"
                alt="YOU AIN’T GOT THESE Lena Waithe’s exploration of the current day sneaker culture highlighting the subtext of race, politics, class, gender, creativity, commerce, addiction, and self-expression."
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">You Ain’t Got These - Showrunner/EP</h3>
              <div class="work-descr">
                <p>Roku</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/618059164">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/4.jpg"
                alt="PONY EXCE$$: Part of the critically acclaimed “30 for 30” series, this film chronicles the rise and fall of the SMU football program as it was sentenced to the “death penalty” by the NCAA. "
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Pony Exce$$ - Producer</h3>
              <div class="work-descr">
                <p>ESPN – Peabody Winner</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/198716169">
            <div class="work-img">
              <img
                src="images/homepage-films/state-of-play.jpg"
                alt="STATE OF PLAY: Produced by Peter Berg, this series explores the intersection of sports, conflict, and society. "
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">State of Play – Producer</h3>
              <div class="work-descr">
                <p>HBO – Emmy Winner</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix documentary">
          <a href="https://vimeo.com/618062564">
            <div class="work-img">
              <img
                src="images/homepage-films/fighting-for-a-generation.png"
                alt="FIGHTING FOR A GENERATION: Documentary film produced for the 20th Anniversary of the UFC, which  chronicles the early days of the UFC that had no rules, to the current ownership that transformed its brand into a global phenomenon."
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">
                Fighting For A Generation – Producer/Director
              </h3>
              <div class="work-descr">
                <p>FOX Sports – Clio Winner</p>
              </div>
            </div>
          </a>
        </li>

        <!--
|--------------------------------------------------------------------------
|                            Branded Content
|--------------------------------------------------------------------------
-->

        <li class="work-item mix branded">
          <a href="https://vimeo.com/800585335" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/titleist-we-go-farther.jpg"
                alt="Titleist <br /> 'We Go Farther'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Titleist</h3>
              <div class="work-descr">
                <p>We Go Farther</p>
              </div>
            </div>
          </a>
        </li>

        <!--
    New Balance
  ===========================-->
        <li class="work-item mix branded">
          <a href="https://vimeo.com/210789839" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/SVP.jpg"
                alt="New Balance <br> 'SportsCenter'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">New Balance</h3>
              <div class="work-descr">
                <p>SportsCenter</p>
              </div>
            </div>
          </a>
        </li>

        <!--
    Disney + "One Day At Disney"
  ===========================-->
        <li class="work-item mix branded">
          <a href="https://vimeo.com/356942294">
            <div class="work-img">
              <img
                src="images/homepage-films/disney.jpg"
                alt="Disney + <br>'One Day At Disney'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Disney +</h3>
              <div class="work-descr">
                <p>One Day At Disney</p>
              </div>
            </div>
          </a>
        </li>

        <li class="work-item mix branded">
          <a href="https://vimeo.com/210791403" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/sergio-garcia.jpg"
                alt="Taylor Made  <br> 'Sergio Garcia'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Taylor Made</h3>
              <div class="work-descr">
                <p>Sergio Garcia</p>
              </div>
            </div>
          </a>
        </li>

        <!--
  New Balance "Fresh Foam"
===========================-->
        <li class="work-item mix branded">
          <a href="https://vimeo.com/210789996" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/KENNY.jpg"
                alt="New Balance <br> 'Fresh Foam'"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">New Balance</h3>
              <div class="work-descr">
                <p>Fresh Foam</p>
              </div>
            </div>
          </a>
        </li>

        <!--
  Mojo
===========================-->
        <li class="work-item mix branded">
          <a href="https://vimeo.com/618061397" class="work-ext-link">
            <div class="work-img">
              <img
                class="work-img"
                src="images/homepage-films/mojo.png"
                alt="Mojo <br> Flag Football"
              />
            </div>
            <div class="work-intro">
              <h3 class="work-title">Mojo</h3>
              <div class="work-descr">
                <p>Flag Football</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Works Grid -->
  </div>
</section>
<!-- End Portfolio Section -->
